* {
    font-family: 'Source Sans Pro', sans-serif;
}

.sub-nav {
    margin-bottom: -16px;
}

.sub-nav-item {
    margin-bottom: 8px;
    white-space: nowrap;
}

.sub-nav-item:hover {
    background-color: #e9ecef;
}